html, body, h1, h2, h3, h4, h5, h6, p, div, ol, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
    /* background-color: black; */
}
$goodSize: 100px;

body {
    background-color: #333;
}
#calcBox {
    margin: 100px;
    #result{
        border: solid white 2px;
        border-top-left-radius: $goodSize / 10;
        border-top-right-radius: $goodSize / 10;
        // padding: 10px;
        width: $goodSize * 4;
        height: $goodSize;
        text-align: right;
        background-color: black;
        color: white;
        font-size: $goodSize / 1.5;
    }
    #buttons {
        background-color: black;
        display: flex;
        flex-flow: wrap;
        border: solid black 2px;
        width: $goodSize * 4;
        height: $goodSize * 5;
        button {
            border-radius: 5px;
            font-size: $goodSize / 2;
            width: $goodSize;
            height: $goodSize;
        }
        .clearButton {
            width: $goodSize * 2;
        }
    }
}